<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>True Beauty</title>
  <link rel="stylesheet" href="<%=baseUrl%>/assets/css/header.css" />
  <link rel="stylesheet" href="<%=baseUrl%>/assets/css/footer.css" />
  <!-- LINHA DE CSS DINÂMICA. A VARIAVEL PAGINA RECEBE O VALOR ATRAVÉS DA PAGINA EJS QUE ESTÁ SENDO CHAMADA O HEAD -->
  <link rel="stylesheet" href="<%=baseUrl%>/assets/css/<%=pagina%>.css" />
  <script src="<%=baseUrl%>/assets/js/carrinho.js"></script>

</head>
