<%- include('./include/head.ejs',{pagina:"categoria"}) %>
  <link rel="stylesheet" href="/assets/css/card.css" />
  </head>

  <body>
    <%- include('./include/header.ejs') %>

      <main>
        <section class="card-container">
          <!-- Cabelo -->
          <% produtos.forEach(produto=> { %>
            <section>
              <header>
                <img src="<%=produto.imagem%>" alt="<%=produto.nome%>" loading="lazy">
              </header>
              <article>
                <h2 class="card-title">
                  <%=produto.nome%>
                </h2>
                <p class="card-text">
                  <%=produto.descricao%>
                </p>
                <p class="card-price">
                  <span class="currency">R$</span>
                  <%=produto.preco%>
                </p>
                <a href="#" class="card-button"
                  onclick="adicionarCarrinho('<%= produto.id %>', '<%= produto.nome %>', 'R$ <%= produto.preco %>', '<%= produto.imagem %>'); return false;">
                  Comprar
                </a>
              </article>
            </section>
            <% }) %>
        </section>

      </main>

      <!-- FOOTER -->
      <%- include('./include/footer.ejs') %>

        <script>
          function adicionarCarrinho(id, nome, preco, imagem) {
            let carrinho = JSON.parse(localStorage.getItem('carrinho')) || [];

            const itemExistente = carrinho.find(item => item.id == id);

            if (itemExistente) {
              itemExistente.quantidade += 1;
            } else {
              carrinho.push({ id, nome, preco, imagem, quantidade: 1 });
            }

            localStorage.setItem('carrinho', JSON.stringify(carrinho));
            alert(`"${nome}" adicionado à sacola!`);
          }
        </script>

  </body>

  </html>