<!DOCTYPE html>
<html lang="pt-br">

<%- include('./include/head.ejs') %>
<body>
    <%- include('./include/header.ejs') %>

    <main style="margin-top: 90px;">
            <section class="card-container">
    <!-- Cabelo -->
     <% produtos.forEach(produto => { %>  
      <section>
        <header>
          <img src="<%=produto.imagem%>" alt="<%=produto.nome%>">
        </header>
        <article>
          <h2 class="card-title"><%=produto.nome%></h2>
          <p class="card-text"><%=produto.descricao%></p>
          <p class="card-price">
             <span class="currency">R$</span> <%=produto.preco%>
          </p>
          <a href="#" class="card-button">Comprar</a>
        </article>
      </section>
      <% }) %>
  </section>
    </main>

    <!-- FOOTER -->
  <%- include('./include/footer.ejs') %>

</body>
</html>