<!DOCTYPE html>
<html lang="en">

<%- include('./include/head.ejs',{pagina:"produtos"}) %>

  <body>
    <main>
      <section class="topo">
        <h1>Listagem de Produtos</h1>
        <a href="/cadastroProduto">
          <button class="botao_novo">+ Novo Produto</button>
        </a>
      </section>
      <section class="container__produtos">
        <article class="titulos_header">
          <span>#</span>
          <span>Imagem</span>
          <span>Nome</span>
          <span>Categoria</span>
          <span>Preço</span>
          <span>Estoque</span>
          <span>Ações</span>
        </article>

        <article class="body">
          <!-- Retorna a lista de produtos do json -->
          <% produtos.forEach(produto=> { %>
            <section class="content">
              <span>
                <%= produto.id %>
              </span>
              <span><img src="<%= produto.imagem || '/img/default.png' %>" class="img-produto"></span>
              <span>
                <%= produto.nome %>
              </span>
              <span>
                <%= produto.categoria %>
              </span>
              <span>
                <%= produto.preco %>
              </span>
              <span>
                <%= produto.estoque %>
              </span>
              <span>
                <a href="/produtos/editar/<%= produto.id %>">
                  <button class="btn-editar">Editar</button>
                </a>
                <form action="/produtos/excluir/<%= produto.id %>" method="POST" style="display:inline;"
                  onsubmit="return confirm('Tem certeza que deseja excluir?')">
                  <button type="submit" class="btn-excluir">Excluir</button>
                </form>
              </span>
            </section>
            <% }); %>
        </article>
      </section>

      </div>
      </section>
    </main>

    <footer>
      <%# include('./include/footer.ejs') %>
    </footer>
    <script>
      // excluir produto
      function confirmarExclusao() {
        return confirm("Tem certeza que deseja excluir este produto?");
      }
      function abrirModal() {
        document.getElementById('modal').style.display = 'flex';
      }

      function fecharModal() {
        document.getElementById('modal').style.display = 'none';
      }


    </script>
  </body>

</html>